celery[redis,auth,msgpack]>=4.4.7
flask>=1.1.2
flask-cors>=3.0.10
flask-swagger-ui>=3.36.0
gevent>=22.10.2 # NOCOMMIT
waitress>=2.1.2 # NOCOMMIT
gunicorn>=20.1.0
git+https://github.com/benob/mosestokenizer.git
numpy==1.19.5
regex==2021.8.28
torch==1.9.0+cpu # NOCOMMIT : use cu111?
transformers==4.10.0
